label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.container {
  padding: 0 !important;
  margin: 0;
  max-width: none;
  width: 100%;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.ant-page-header {
  padding: 2px 0 0 2px;
} 

.ant-page-header-heading-sub-title {
  margin-top: 4px;
  font-size: 18px;
  color: rgba(226, 101, 101, 0.85);
}

.ant-btn-round {
  background-color: rgb(226, 101, 101);
   border-radius: 5px;
}

.ant-table-thead, th {
  background-color: rgb(226, 101, 101) !important;
}

.ant-form, .ant-page-header-heading-form, .ant-breadcrumb-form {
  background-color: #ffe9e9 !important;
}

.ant-breadcrumb-form {
  padding: 10px 0 0 10px;
}

.ant-page-header-heading-form {
  padding: 0 0 0 10px;
}

.ant-form-item {
  margin: 0;
  padding: 10px 0px;
}

.ant-form-item-label, label {
  margin: 0px;
}

.ant-form-item-required {
  margin: 0;
}

.checkbox-selecionar-todos {
  margin-top: 5px;
}

